@use './partials/dashboard';
@use './partials/auth/login';
@use './partials/trips/index';
@use './partials/trips/show';
@use './partials/trips/create';
@use './partials/trips/cardShow';
@use './partials/stops/_formstopscreate';
@use './partials/stops/stop';
@use './partials/stops/rating';
@use './partials/stops/modalEdit';

@import '~bootstrap/scss/bootstrap';

body{
    overflow-x:hidden ;
    overflow-y: scroll;
}
.non-clickable {
    pointer-events: none; /* Disabilita l'interazione del mouse */
    cursor: not-allowed; /* Cambia il cursore per indicare che l'elemento non è interattivo */
}
.color-input{
    background-color: #2f97ff; 
}
.my-suggestion{
    background-color:#6C757D ;
    color: white;
}
.my-suggestion:hover{
    background-color: white;
    color: black;
}
